TZ=America/New_York
FLIGHTAWARE_USER=Username
FLIGHTAWARE_KEY=ApiKey

HTTP_SERVER_PORT=8000
HTTP_SERVER_HOST=127.0.0.1

TWITTER_CONSUMER_KEY=zzz
TWITTER_CONSUMER_SECRET=zzz
TWITTER_ACCESS_TOKEN_KEY=1234-zzz
TWITTER_ACCESS_TOKEN_SECRET=zzz