[Unit]
Description=tweets announcements of flights shortly before arrival
After=network.target

[Service]
Type=simple
User=nobody ## CHANGE THIS
ExecStart=/usr/bin/node /__PATH__/tweet-arrival/index.js ## INSERT PATH
Restart=on-abort
RestartSec=600

[Install]
WantedBy=multi-user.target
